@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: rgb(9 9 11);
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    sans-serif;

  background: rgb(9 9 11);
  color: white;
}

button {
  cursor: pointer;
}

input {
  color: white;
}

input::placeholder {
  color: rgb(113 113 122);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(63 63 70);
  border-radius: 999px;
}
